<ion-header>
    <ion-navbar>
        <ion-title>{{'My Points' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="{{'Refreshing...' | translate}}" refreshingSpinner="circles" refreshingText="{{'Refreshing...' | translate}}">
        </ion-refresher-content>
    </ion-refresher>
    
    <div class="top-nav nav-adjust-2">
        <p>{{'Balance Points' | translate}}</p>
        <h1>{{total_balance_point}}</h1>
        <h2> {{'Last updated' | translate}} {{ (karigar_point.balance_update!='0000-00-00') ? (karigar_point.balance_update | date:'d MMMM y') : ('00-00-0000') }}</h2>
    </div>
    
    <!-- <ion-list >
        <ion-item style="background: #f5f7ff;">
            <div class="left-block">
                <p>{{'Welcome Point' | translate}}</p>
                <span>{{welcome_points.date_created | date:'d MMMM y'}}</span>
            </div>
            <div class="right-block">
                <h2 style="font-size: 24px;">{{welcome_points.points}}</h2>
            </div>
        </ion-item>
        <ion-item style="background: #f5f7ff;" *ngIf="my_ref != null">
            <div class="left-block">
                <p>{{'Referral Point' | translate}}</p>
                <span>{{my_ref.date_created | date:'d MMMM y'}}</span>
            </div>
            <div class="right-block">
                <h2 style="font-size: 24px;">{{my_ref.summary}}</h2>
            </div>
        </ion-item>
    </ion-list> -->
    
    
    
    <ion-segment [(ngModel)]="mypoint">
        <ion-segment-button value="scan">
            {{'Scan History' | translate}}
        </ion-segment-button>
        <ion-segment-button value="ref_earn">
            {{'Other Point' | translate}}
            
        </ion-segment-button>
    </ion-segment>
    
    
    <div [ngSwitch]="mypoint">
        <ion-list *ngSwitchCase="'scan'">
            
            <ion-item *ngIf="coupon_list.length == 0">
                <div class="no-history">
                    <img src="assets/imgs/history.png">
                    <p>{{'No History' | translate}}</p>
                </div>
            </ion-item>
            
            <ion-item *ngFor="let list of coupon_list; let i=index">
                <div class="left-block">
                    <p>{{'Scan Point' | translate}}</p>
                    <span><span>{{'Coupon Code' | translate}}</span>-{{list.coupon_code}}</span><br>
                    <span *ngIf="list.scan_by_karigar_date != null">{{list.scan_by_karigar_date | date:'d MMMM y - h:mm a'}}</span>
                    <span *ngIf="list.scan_by_retailer_date != null">{{list.scan_by_retailer_date | date:'d MMMM y -h:mm a'}}</span>
                </div>
                <div class="right-block" [ngClass]="{ 'Success': list.status == 'SUCCESS', 'Inprocess': list.status == 'PENDING',  'Error': list.status == 'Error', 'FAILURE': list.status == 'FAILURE'}">
                    <h2> {{list.coupon_value}}</h2>
                    <span>{{list.status | titlecase}}</span>
                </div>
            </ion-item>
        </ion-list>
        
        
        <ion-list *ngSwitchCase="'ref_earn'">
            <ion-item *ngIf="ref_points.length == 0">
                <div class="no-history">
                    <img src="assets/imgs/history.png">
                    <p>{{'No History' | translate}}</p>
                </div>
            </ion-item>
            <ion-item *ngFor="let row of ref_points;">
                <div class="left-block">

                    <p>{{row.summary}}</p>
                    <span>{{row.date_created | date:'d MMMM y'}}</span>
                </div>
                <div class="right-block">
                    <h2>{{row.points}}</h2>
                </div>
            </ion-item>
        </ion-list>
    </div>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" *ngIf="flag!=1">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{'Loading more data...' | translate}}">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>